*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
iosApp/Pods
androidApp/release
hostAndroidApp/release
hostIosApp/Pods
vendor
*.apk
/common/umbrella-ios/umbrella_ios.podspec
/common/core/core.podspec
/libs/socket-io/socket_io.podspec
/.kotlin